<div class="backheader">
    <div class="header">
        <nav class="navbar position-fixed">
            <div class="headercontent d-flex flex-row">
                <div class="p-2">
                    <img src="/assets/logoLight.png" alt="">
                </div>
                <div class="sitename font-weight-bold p-2">PERLE <br> RENCONTRE</div>
            </div>
        </nav>
        <div>
            <div class="d-flex justify-content-center">
                <p class="title">LOVE</p>
            </div>
            <div class="d-flex justify-content-center barre">
                <input type="text" class="input" placeholder="Search something">
                <button type=""><img class="w-50" src="/assets/search.png" alt=""></button>
            </div>
        </div>
    </div>
    <!--
<div class="contentnew">
        <div class="d-flex flex-nowrap">
            <div class="ml-5 m-4 w-25">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt obcaecati nihil neque optio adipisci eaque corrupti nam fugiat, velit, enim ex, culpa odio dolor autem tempora beatae est fugit cum.</div>
            <div class="ml-5 m-4 w-15">
                <div class="d-flex align-items-start flex-column">
                    <div class="p-2">
                        <div class="shadow-lg card">
                            <img class="pics" src="/assets/fille1.png" alt="">
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow-lg card card1">
                            <img class="pics" src="/assets/fille1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 w-15">
                <div class="d-flex align-items-start flex-column seccol">
                    <div class="py-2">
                        <div class="shadow-lg rounded-5 card2">
                            <div class="d-flex justify-content-start">
                                <p class="p-2">
                                    <img class="pics2" src="/assets/convers.svg" alt="">
                                </p>
                                <p class="p-2">lofgkjdlkgjdflkgjdlfkgjlfk</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p>lkj</p>
                        <p>;kjfg</p>
                    </div>
                </div>
            </div>
            <div class="w-15">
                <div class="d-flex align-items-start flex-column">
                    <div class="p-2">
                        <div class="shadow-lg card">
                            <img class="pics" src="/assets/fille1.png" alt="">
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="shadow-lg card card1">
                            <img class="pics" src="/assets/fille1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="content2">
        <div class="row w-100">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam fugiat nobis, adipisci tempore veritatis neque ad incidunt pariatur commodi unde! Expedita odio nobis totam nihil eligendi obcaecati earum assumenda est?
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-lx-7">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12" align="center">
                                <div class="py-2 pl-4">
                                    <div class="shadow-lg card pics">
                                        <img class="pics" src="/assets/fille1.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12">
                                <div class="py-2 pl-2">
                                    <div class="shadow-lg card pics">
                                        <img class="pics" src="/assets/fille1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12">
                                <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestias sed necessitatibus cumque ullam, repellendus, ab, nihil nobis numquam illo laboriosam non minima iste similique eveniet laborum quisquam
                                voluptatibus cupiditate.
                            </div>
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12">
                                <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolores natus numquam voluptatum suscipit officia illo cum aspernatur culpa velit, ad perspiciatis quas est beatae architecto nostrum deserunt, veritatis
                                vitae!
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12" align="center">
                                <div class="py-2 pl-4">
                                    <div class="shadow-lg card pics">
                                        <img class="pics" src="/assets/fille1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-lx-12">
                                <div class="py-2 pl-2">
                                    <div class="shadow-lg card pics">
                                        <img class="pics" src="/assets/fille1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content text-black">
</div>